@font-face {
    font-family: "Lato";
    src: url(../font/Lato-Regular.ttf);
}

* {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class unique */

.hiden {
    display: none;
}

.gras {
    font-weight: bold;
}

.gris {
    color: gray;
}

.souligner {
    text-decoration: underline black;
}

.soldOut {
    background-color: red;
    color: white;
    padding: 0.1rem 0.3rem;
    margin: 0 1rem;
}

.nombreRestant {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
    margin-right: 1.5rem;
}

.buyTickets {
    background-color: black;
    color: white;
    padding: 0.6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

/* balise unique */

h1,
h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: lighter;
    padding: 4rem 0 1rem 0;
}

h3 {
    color: gray;
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 1rem;
}

/* header */

header a {
    display: none;
    text-decoration: none;
    color: white;
    padding: 1rem 1.6rem;
}

header nav a:hover,
#iconeBurger:hover,
header nav a:visited {
    background-color: gray;
}

header nav a:first-child {
    display: block;
}

#headerNav ul {
    display: flex;
    flex-direction: row;
}

#headerNav i {
    padding: 0 0.6rem;
}

#headerNav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

li {
    list-style-type: none;
}

#iconeBurger {
    padding: 0.7rem;
}

#headerImg {
    width: 100%;
    height: 23vh;
    background-image: url("../img/la.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: white;
}

#headerImg div p:first-child {
    font-size: 1.5rem;
    padding: 1.5rem;
}

#headerImg div p:last-child {
    font-size: 0.8rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

/* section THE BAND */

/* texte */

#theBandSide {
    width: 90%;
    margin: 0 auto;
}

#theBand p {
    text-align: justify;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}


/* figure */

#figureTheBandSide {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 5rem;
}

#theBand figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

#theBand figcaption {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#theBand img {
    border-radius: 2%;
}

/* section TOUR DATE */

#tourDatesSide {
    width: 90%;
    margin: 0 auto;
}

#tourDates {
    background-color: black;
}

#tourDates {
    color: white;
}

#mois {
    background-color: white;
    color: gray;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#mois p {
    padding: 0.7rem;
    font-size: 1rem;
}

#mois div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* figure */

#figureTourDatesSide {
    padding-bottom: 2rem;
}

#tourDates figure {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin-bottom: 1rem;
}

#tourDates figcaption p {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

#tourDates img {
    margin-bottom: 0.5rem;
    width: 100%;
}

/* section Contact */

#contact {
    background-color: white;
    padding-bottom: 5rem;
}

#contactSide {
    width: 90%;
    margin: 0 auto;
}

#information {
    padding-top: 2rem;
}

#lieu,
#numero,
#email {
    display: flex;
    flex-direction: row;
}

#information i {
    padding-right: 1rem;
    padding-bottom: 0.7rem;
}

#information form div:first-child {
    margin-bottom: 0.5rem;
}

#contact input {
    width: 100%;
    padding: 0.7rem;
}

#contact form div {
    width: 100%;
}

#contact form div:last-child {
    display: flex;
    justify-content: flex-end;
}

#contact form div:last-child input {
    width: fit-content;
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
}

#map {
    width: 100%;
    padding-bottom: 5rem;
}

/* footer */

footer {
    padding-bottom: 3rem;
}

#socio {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#socio i {
    padding: 0 0.1rem;
    color: gray;
    font-size: 1.7rem;
}

footer p {
    text-align: center;
    padding: 1.5rem;
}

@media screen and (min-width:576px) {

    /* header */

    #headerNav a,
    #headerNav form,
    #headerImg div {
        display: inline;
    }

    header form {
        padding: 0 1rem;
    }

    header input {
        background-color: black;
        border: none;
        padding: 0.3rem;
    }

    header button {
        background-color: black;
        border: none;
        color: white;
    }

    #iconeBurger {
        display: none;
    }

    #headerImg {
        height: 80vh;
    }

    /* about */

    #theBandSide {
        width: 60%;
        margin: 0 auto;
    }

    #figureTheBandSide {
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }

    #figureTheBandSide figure {
        width: 23%;
    }

    #figureTheBandSide figcaption {
        font-size: 1.2rem;
    }

    /* tour date */

    #tourDatesSide {
        width: 60%;
        margin: 0 auto;
    }

    #figureTourDatesSide {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    #figureTourDatesSide figure {
        width: 32%;
    }

    /* contact */

    #contactSide {
        width: 60%;
        margin: 0 auto;
    }

    #information {
        display: flex;
        flex-direction: row;

    }

    #information div {
        width: 50%;
    }

    #information form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #information form div:nth-child(1),
    #information form div:nth-child(2) {
        width: 48%;
    }

    #information form div:nth-child(3){
        width: 100%;
    }

    #information form div:nth-child(4) {
        display: flex;
    }
}